body{
    margin: auto;
}

#barra{
    display: flex;
    background-color: #1B2653;
}

.material-symbols-outlined{
    color: #1B2653;
    display: none;
}

#hamburger_lista{
    display: none;
}

.logo{
    position: absolute;
    left: 3%;
    top: 2%;
}

#b_condominios{
    background-color: #1B2653;
    color: white;
    border: none;
    position: absolute;
    top: 3%;
    left: 15%;
    height: 6%;
    width: 5%;
}

#b_forum{
    background-color: #1B2653;
    color: white;
    border: none;
    position: absolute;
    top: 3%;
    left: 20%;
    height: 6%;
    width: 5%;
}

#b_guia{
    background-color: #1B2653;
    color: white;
    border: none;
    position: absolute;
    top: 3%;
    left: 24%;
    height: 6%;
    width: 5%;
}

#b_artigos{
    background-color: #1B2653;
    color: white;
    border: none;
    position: absolute;
    top: 3%;
    left: 28%;
    height: 6%;
    width: 5%;
}

#b_ferramentas{
    background-color: #1B2653;
    color: white;
    border: none;
    position: absolute;
    top: 3%;
    left: 33%;
    height: 6%;
    width: 5%;
}

#b_cotar {
    background-color: #1B2653;
    color: white;
    border: none;
    position: absolute;
    top: 3%;
    right: 17.5%;
    height: 6%;
    width: 5%;
}

#b_planos{
    background-color: #1B2653;
    color: white;
    border: none;
    position: absolute;
    top: 3%;
    right: 12.6%;
    height: 6%;
    width: 5%;
}

#b_entrar{
    background-color: #1B2653;
    color: white;
    border: none;
    position: absolute;
    top: 3%;
    right: 8.6%;
    height: 6%;
    width: 5%;
}

#b_cadastrar{
    font-weight: bold;
    background-color: #1B2653;
    color: white;
    border-color: white;
    border-radius: 50px;
    position: absolute;
    top: 4%;
    right: 2%;
    height: 4%;
    width: 6%;
}

#flex_bloco_1{
    display: flex;
    flex-direction: row;
}

#num_1{
    position: absolute;
    left: 2.5%;
    top: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

#flex_1{
    box-sizing: border-box;
    height: 50%;
    width: 13%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 22%;
    left: 4%;
    width: 25%;
}

.pessoa_1{
    height: 45%;
    width: 13%;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 2%;
    left: 2%;
    bottom: 10%;
    width: 40%;
}

.pessoa_2{
    height: 45%;
    width: 13%;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 52%;
    left: 2%;
    width: 40%;
}

#textos_1{
    position: absolute;
    left: 45%;
    top: 17%;
}

#textos_2{
    position: absolute;
    left: 45%;
    top: 65%;
}

.corretores{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.pontos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.url{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FE6613;
}

#num_2{
    position: absolute;
    left: 36%;
    top: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

#flex_2{
    box-sizing: border-box;
    height: 50%;
    width: 13%;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 22%;
    left: 37.5%;
    width: 25%;
}

#textos_3{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 5%;
    top: 5%;
}

#digite_cpf{
    position: absolute;
    top: 20%;
    left: 5%;
    height: 8%;
    width: 85%;
    border-radius: 10px;
}

#digite_telefone{
    position: absolute;
    top: 35%;
    left: 5%;
    height: 8%;
    width: 85%;
    border-radius: 10px;
}

#digite_assunto{
    position: absolute;
    top: 50%;
    left: 5%;
    height: 30%;
    width: 85%;
    border: solid 2px black;
    border-radius: 10px;
}

#botao_1{
    position: absolute;
    top: 88%;
    left: 5%;
    height: 8%;
    width: 30%;
    border-radius: 10px;
    border-color: #FE6613;
    background-color: #FE6613;
    color: white;
}

#num_3{
    position: absolute;
    left: 69.5%;
    top: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

#flex_3{
    box-sizing: border-box;
    height: 50%;
    width: 13%;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 22%;
    left: 71%;
    width: 25%;
}

#textos_4{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 5%;
    top: 5%;
}

#regra_1{
    position: absolute;
    top: 35%;
    left: 5%;
    height: 10%;
    width: 35%;
    border-radius: 10px;
}

#regra_2{
    position: absolute;
    top: 35%;
    left: 58%;
    height: 10%;
    width: 35%;
    border-radius: 10px;
}

#regra_3{
    position: absolute;
    top: 55%;
    left: 5%;
    height: 10%;
    width: 35%;
    border-radius: 10px;
}

#regra_4{
    position: absolute;
    top: 55%;
    left: 58%;
    height: 10%;
    width: 35%;
    border: solid 3px;
    border-radius: 10px;
    border-color:#FE6613;
}

#linha1{
    position: absolute;
    top: 51%;
    left: 43.5%;
    font-size: 40px;
}

#linha2{
    position: absolute;
    top: 31%;
    left: 43.5%;
    font-size: 40px;
}

#botao_2{
    position: absolute;
    top: 88%;
    left: 5%;
    height: 8%;
    width: 30%;
    border-radius: 10px;
    border-color: #FE6613;
    background-color: #FE6613;
    color: white;
}

#flex_bloco_2{
    display: flex;
    flex-direction: row;
}

#num_4{
    position: absolute;
    left: 2.5%;
    top: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

#flex_4{
    box-sizing: border-box;
    height: 50%;
    width: 13%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 82%;
    left: 4%;
    width: 25%;
}

#img_casa_1{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#botao_modal_abrir{
    position: absolute;
    top: 135%;
    left: 4%;
    height: 5%;
    width: 25%;
    border-radius: 10px;
    border-color: #FE6613;
    background-color: #FE6613;
    color: white;
}

#botao_modal_fechar{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 96%;
    border: solid 2px black;
    border-radius: 2px;
    color: red;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#num_5{
    position: absolute;
    left: 36%;
    top: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

#flex_5{
    box-sizing: border-box;
    height: 50%;
    width: 13%;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 82%;
    left: 37.5%;
    width: 25%;
}

#num_6{
    position: absolute;
    left: 69.5%;
    top: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

#flex_6{
    box-sizing: border-box;
    height: 50%;
    width: 13%;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 82%;
    left: 71%;
    width: 25%;
    overflow: hidden;
}

#barra_final{
    display: flex;
    background-color: #1B2653;
    position: absolute;
    top: 145%;
    width: 100%;
    height: 7.5%;
}

#b_termos{
    background-color: #1B2653;
    color: white;
    border: none;
    position: absolute;
    top: 35%;
    left: 3%;
    height: 6%;
    width: 5%;
}

#b_contatos{
    background-color: #1B2653;
    color: white;
    border: none;
    position: absolute;
    top: 35%;
    left: 7%;
    height: 6%;
    width: 5%;
}

#b_sobre{
    background-color: #1B2653;
    color: white;
    border: none;
    position: absolute;
    top: 35%;
    left: 10.5%;
    height: 6%;
    width: 5%;
}

#logo_final{
    position: absolute;
    left: 87%;
}

#copyright{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 35%;
    left: 65%;
}

#img_download{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#marca_dagua{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 25%;
    top: 85%;
    height: 5%;
    width: 50%;
    border: 2px solid #FE6613;
    border-radius: 10px;
    color: white;
    background-color: #FE6613;
}

#botao_download{
    position: absolute;
    top: 135%;
    left: 37.5%;
    height: 5%;
    width: 25%;
    border-radius: 10px;
    border-color: #FE6613;
    background-color: #FE6613;
    color: white;
}

#img_casa_animado{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transform: scale(1.5);
    transition: 1.5s;
}

#img_casa_animado:hover{
    transform: scale(1);
}

@media screen and (max-width: 900px) {
    #b_condominios, #b_forum, #b_guia, #b_artigos, #b_ferramentas, #b_cotar, #b_planos, #b_entrar, #b_cadastrar{
        display: none;
    }

    .material-symbols-outlined{
        color: white;
        position: absolute;
        left: 95%;
        top: 1%;
        cursor: pointer;
    }

    .material-symbols-outlined:hover{
        color:#FE6613;
    }

    #hamburger_lista{
        position: absolute;
        left: 48%;
        top: 5%;
        width: 50%;
        height: 20%;
        background-color: white;
        color: white;
    }

    #flex_1{
        position: absolute;
        width: 40%;
        left: 6%;
    }

    #num_2{
        position: absolute;
        left: 51.5%;
    }

    #flex_2{
        position: absolute;
        left: 55%;
        width: 40%;
    }

    #num_3{
        position: absolute;
        top: 88%;
        left: 2%;
    }

    #flex_3{
        position: absolute;
        width: 40%;
        top: 90%;
        left: 6%;
    }

    #num_4{
        position: absolute;
        top: 88%;
        left: 51.5%;
    }

    #flex_4{
        position: absolute;
        top: 90%;
        left: 55%;
        width: 40%;
    }

    #botao_modal_abrir{
        position: absolute;
        top: 142%;
        left: 55%;
        width: 40%;
    }

    #dialog_1{
        max-width: 80%;
        max-height: 80%;
    }

    #botao_modal_fechar{
        position: absolute;
        left: 92%;
    }

    #img_casa_2{
        max-width: 100%;
        max-height: 100%;
    }

    #num_5{
        position: absolute;
        top: 156%;
        left: 2%;
    }

    #flex_5{
        position: absolute;
        top: 158%;
        left: 6%;
        width: 40%;
    }

    #botao_download{
        position: absolute;
        top: 210%;
        left: 6%;
        width: 40%;
    }

    #num_6{
        position: absolute;
        top: 156%;
        left: 51.5%;
    }

    #flex_6{
        position: absolute;
        top: 158%;
        left: 55%;
        width: 40%;
    }

    #barra_final{
        display: flex;
        background-color: #1B2653;
        position: absolute;
        top: 225%;
        width: 100%;
        height: 7.5%;
        height: 10%;
        
    }

    #b_termos, #b_contatos, #b_sobre{
        display: none;
    }

    #copyright{
        position: absolute;
        left:3%;
    }

    #logo_final{
        position: absolute;
        left: 72%;
    }

    #textos_1{
        position: absolute;
        top: 5%;
    }

    #textos_2{
        position: absolute;
        top: 55%;
    }

    #textos_3{
        font-size: 25px;
    }

    #botao_1{
        width: 50%;
    }

    #linha1{
        position: absolute;
        font-size: 160%;
        left: 44.5%;
        top: 54%
    }

    #linha2{
        position: absolute;
        font-size: 160%;
        left: 44.5%;
        top: 34%
    }
}

@media screen and (max-width: 600px) {
    #b_condominios, #b_forum, #b_guia, #b_artigos, #b_ferramentas, #b_cotar, #b_planos, #b_entrar, #b_cadastrar{
        display: none;
    }

    .material-symbols-outlined{
        color: white;
        position: absolute;
        left: 95%;
        top: 1%;
        cursor: pointer;
    }

    .material-symbols-outlined:hover{
        color:#FE6613;
    }

    #hamburger_lista{
        position: absolute;
        left: 48%;
        top: 5%;
        width: 50%;
        height: 20%;
        background-color: white;
        color: white;
    }

    #flex_1{
        position: absolute;
        width: 90%;
        left: 6%;
    }

    #num_2{
        position: absolute;
        top: 80%;
        left: 2%;
    }

    #flex_2{
        position: absolute;
        top: 80%;
        left: 6%;
        width: 90%;
    }

    #num_3{
        position: absolute;
        top: 138%;
        left: 2%;
    }

    #flex_3{
        position: absolute;
        top: 140%;
        left: 6%;
        width: 90%;
    }

    #num_4{
        position: absolute;
        top: 198%;
        left: 2%;
    }

    #flex_4{
        position: absolute;
        top: 200%;
        left: 6%;
        width: 90%;
    }

    #botao_modal_abrir{
        position: absolute;
        top: 252%;
        left: 8%;
        width: 85%;
    }

    #dialog_1{
        max-width: 80%;
        max-height: 80%;
    }

    #botao_modal_fechar{
        position: absolute;
        left: 92%;
    }

    #img_casa_2{
        max-width: 100%;
        max-height: 100%;
    }

    #num_5{
        position: absolute;
        top: 268%;
        left: 2%;
    }

    #flex_5{
        position: absolute;
        top: 270%;
        left: 6%;
        width: 90%;
    }

    #botao_download{
        position: absolute;
        top: 322%;
        left: 8%;
        width: 85%;
    }

    #num_6{
        position: absolute;
        top: 338%;
        left: 2%;
    }

    #flex_6{
        position: absolute;
        top: 340%;
        left: 6%;
        width: 90%;
    }

    #barra_final{
        display: flex;
        background-color: #1B2653;
        position: absolute;
        top: 400%;
        width: 100%;
        height: 7.5%;
        height: 10%;
        
    }

    #b_termos, #b_contatos, #b_sobre{
        display: none;
    }

    #copyright{
        position: absolute;
        left:3%;
    }

    #logo_final{
        position: absolute;
        left: 72%;
    }
}
